body {
    background-color: #011627;
    color: #FDFFFC;

    font-family: 'Noto Serif', serif;
    font-size: 18.4px;
}

h1 {
    font-family: 'Montserrat', sans-serif;
    text-align: center;
    margin: 12px;
}

.block {
    display: block;
}

.green {
    color: #48FB47;
}

ol {
    margin: 0;
    padding: 0;
    text-align: center;
}

ol li {
    display: inline;
    margin: 0 12px;
}

a {
    color: #2ED1B6;

    text-decoration: none;
    transition: .25s;
}

a:hover {
    color: #FFFF1C;

    text-decoration: underline;
}

a:active {
    color: #FFA11C;
}
  
#prof-pic {
    /* border: 2px solid #48FB47; */
    border-radius: 50%;
    padding: 2px;
    background-color: #48FB47;

    position: absolute;
    bottom: 210px;
    right: 558px;

    width: 250px;
}

p {

}

.bolded {
    font-weight: bold;
}

.style {
    font-style: oblique;
}

.greatest-size {
    font-size: 1.3em;
}

.greater-size {
    font-size: 1.2em;
}

.great-size {
    font-size: 1.1em;
}