body {
    background-color: #011627;
    color: #FDFFFC;
    font-family: 'Noto Serif', serif;
    font-size: 16px;
}

h1 {
    font-family: 'Montserrat', sans-serif;
    text-align: center;
}

.green {
    color: #48FB47;
}

ol {
    /* display: inline-block; */
    padding-left: 30px;
    width: 100px;
}

.links {
    text-decoration: none;
    color: #2ED1B6;
    transition: .25s;
}

.links:hover {
    text-decoration: underline;
    color: #FF9F1C;
}
  
#prof-pic {
    border: 2px solid #48FB47;
    border-radius: 50%;
    display: block;
    margin: auto;
    width: 275px;
}

.greatest-size {
    font-size: 1.3em;
}

.greater-size {
    font-size: 1.2em;
}

.great-size {
    font-size: 1.1em;
}