* {
  margin: 0;
  padding: 0;
}

body {
  background-color: rgb(253 , 251 , 251);
  font-size: 17.6px;
  color: rgb(25 , 25 , 25);
  line-height: 1.2em;
  font-family: Nunito, sans-serif;
}

#cabecalho {
  background-color: rgb(25 , 25 , 25);
  color: rgb(250 , 250 , 250);
  text-align: center;
  position: fixed;
  height: 13%;
  padding: 0 29.875rem 5px;
  top: 0;
}

#titulo {
  margin: 16px 0 26px;
}

a {
  color: rgb(46 , 209 , 182);
  font-weight: 600;
  text-decoration: none;
  margin: 10px;
  transition: 0.25s;
}

a:hover {
  color: rgb(255 , 255 , 28);
  text-decoration: underline;
}

a:active {
  color: rgb(255 , 161 , 28);
}

#minha_foto {
  background-color: rgb(25 , 25 , 25);
  border-radius: 25%;
  padding: 2px;
  width: 200px;
  display: block;
  margin: auto;
  margin-top: 10px;
}

#portfolio {
  display: block;
  text-align: center;
  color: darkblue;
  margin: 0;
}

#portfolio:hover {
  color: red;
  text-decoration: underline;
}

#portfolio:active {
  color: black;
}

ol , ul , table {
  display: inline-block;
  margin: 50px 107px;
}

th , tr , td {
  border: 1px solid black;
  padding: 0 5px;
}

.lado-esquerdo , .lado-direito {
  border: 2px solid black;
  padding: 5px;
  margin: 10px 25px;
  display: inline-block;
}

.lado-esquerdo {
  width: 60%;
}

.lado-direito {
  width: 30%;
}

footer {
  background-color: lightgray;
  bottom: 0;
  padding-right: 10px;
  text-align: right;
  border-top: 1px solid darkgray;
}
